* {
    box-sizing: border-box;
}

body,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    max-width: 120rem;
    background-image: linear-gradient(to top, #f1f3ff, #FFFFFF);
    padding: 1.5rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    padding: .75rem 1.5rem;
    border-radius: 2rem;
}

button:hover {
    cursor: pointer;
}

.btn-started {
    background-color: #13183F;

}

.btn-started:hover {
    background-color: hsla(233, 54%, 16%, 0.7);

}

h1 {
    color: #13183F;
    font-size: 2.25rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

main p {
    color: #83869A;
}

.container-main-image {
    display: grid;
    justify-content: center;
}

.btn-started-gradient-orange {
    background-image: linear-gradient(to top, #F02AA6, #FF6F48);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
}

.btn-started-gradient-orange:hover {
    background-image: linear-gradient(to top, hsla(322, 87%, 55%, 0.6), hsla(13, 100%, 64%, 0.6));
}

.article-container {
    display: grid;
    gap: 2.5rem;
    margin-bottom: 64px;
}

aside {
    background-image: linear-gradient(to top, #F02AA6, #FF6F48);
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1.5rem;
    border-radius: .5rem;
}

.article-base-design {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.icons {
    position: absolute;
    top: -1.5rem;
}

.article-base-design h2 {
    font-size: 1.25rem;
    color: #13183F;
    margin-top: 64px;
}

.article-base-design p {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #83869A;
}

.article-base-design a {
    color: #F74780;
    font-weight: 700;
    font-size: 1.125rem;
}

footer {
    background-color: #13183F;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.btn-started-gradient-blue {
    background-image: linear-gradient(to bottom, #4851FF, #F02AA6);
}

.btn-started-gradient-blue:hover {
    background-image: linear-gradient(to bottom, hsla(237, 100%, 64%, 0.6), hsla(322, 87%, 55%, 0.6));
}

/* =================================================MEDIA=========================================================== */
@media screen and (min-width: 46.875rem) {
    .container {
        padding: 2rem;
        overflow: hidden;
    }

    header {
        margin-bottom: 80px;
    }

    .btn-started {
        z-index: 10;
    }

    .container-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 160px;
    }

    .article-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-main-image {
        position: relative;
    }

    .container-main-image img {
        position: absolute;
        top: -240px;
        right: -320px;
    }

    footer nav {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* ======================================================MEDIA============================================== */
@media screen and (min-width: 76.5625rem) {
    .container {
        padding-left: 128px;
        padding-right: 128px;
    }

    header {
        margin-bottom: 128px;
    }

    .btn-started {
        z-index: 10;
    }

    .container-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 224px;
    }



    main p {
        font-size: 1.125rem;
        margin-bottom: 48px;
    }

    .btn-started-gradient-orange {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .container-main-image img {
        position: absolute;
        top: -400px;
        right: -512px;

    }

    .article-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer nav {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}